body {
    font-family: arial;
    background-color: rgb(206, 134, 188)
}

h1 {
    color: rgb(0, 248, 0);
    font-size: 50px;
}

p {
    font-size: 50px;
}

a {
    font-size: 50px;
    color: rgb(115, 255, 0), 215);
}

#timetable {
    margin-top: 50px;
    width: auto;
    height: auto;
}